@import 'common/all';
body{
    font-family:$font;
}
.wrapper-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    background: $azul;
    color: $blanco;
    margin: 32px 55px 0px 107px;
    width: 80%;
    padding: 16px 27px;
    .title{
        font-size: 24px;
    }
}
.wrapper-boton{
    border: 1px solid;
    background-color: $verde;
    border-color: $verdeborde;
    padding: 9px;
    i{
        color: $blanco;
        font-size: 17px;
    }
  
}
.text{
    color: $blanco;
    font-size: 13px;
}

