.modal-wrapper {
  box-sizing: border-box;
}

#modal-eliminar {
  background-color: $blanco;
  border: 1px solid $modal-borde;
  border-radius: 3px;
  box-shadow: 0 5px 15px $modal-sombra;
  box-sizing: border-box;
  color: $azul;
  display: none;
  margin: 30px auto;
  max-width: 400px;
  position: relative;
}

.modal-eliminar-header {
  .modal-eliminar-header-title {
    font-size: 18px;

    boton-cancel {
      background: 0 0;
      border: 0;
      color: $azultxt;
      cursor: pointer;
      font-size: 21px;
      margin-top: -2px;
      text-shadow: 0 1px 0 $blanco;
      padding: 0;
    }
  }
}
