.modal-alerta {
  color: $alerta;
  font-size: 11.05px;
  padding-bottom: 27px;
}

.modal-eliminar-boton {
  background-color: $eliminar-bgk;
  border: 1px solid transparent;
  border-color: $eliminar-border;
  border-radius: 2px;
  box-sizing: border-box;
  color: $blanco;
  font-size: 14px;
  margin-top: -2px;
  min-width: 100px;
  text-align: center;
  text-shadow: 0 1px 0 $blanco;
  padding: 6px 12px;
  vertical-align: middle;
}

.modal-title {
  display: inline-block;
  font-size: 18px;
  padding: 25px 10px 21px 26px;
}
.boton-cancel-x {
  background-color: $blanco;
  display: inline-block;
  font-size: 21px;
  line-height: 1;
  color:$grismodal;
  text-shadow: 0 1px 0 $blanco;
  opacity: 0.2;
  border: none;
  height: 23px;
  border: none;
  width: 20px;
  padding: 23px 31px 17px 17px;
  &:hover {
    cursor: pointer;
    color:$modal-sombra;
  }
}
.modal-header {
  border-bottom: 1px solid $blancogris;
  display: flex;
  justify-content: space-between;
}
.modal-wrapper {
  position: fixed;
  overflow: auto;
  background-color: $modal-sombra;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.modal-content-form {
  background-color:$blanco;
  width: 400px;
  margin: auto;
  margin-top: 32px;
  color: $azultxt;
  box-shadow: 0 5px 15px $modal-sombra;
}
.modal-body,
.modal-footer {
  padding: 10px 30px;
}
.modal-body {
  padding: 10px 30px;

  .form-group {
    margin-bottom: 13px;

    input,
    textarea {
      width: 100%;
      height: 27px;
      border: 1px solid $blancogrisopaco;
      border-radius: 3px;

      &:focus {
        background-color: $gris;
        color: $azultxt;
      }
    }
    textarea {
      height: 50px;
    }
    label {
      display: block;
      font-size: 13px;
      margin-bottom: 6px;
    }
  }
}

.modal-footer {
  background: $blancofooter;
  text-align: right;
  padding-top: 15px;
  padding-bottom: 15px;

  button {
    border: 1px solid $grisclaro;
    padding: 7px 30px;
    font-size: 14px;
    margin-left: 10px;
    transition-duration: 0.4s;

    &:hover {
      box-shadow: inset 0 0 10px $modal-sombra;
      cursor: pointer;
    }

    &.add {
      color: $blanco;
    }

    &.boton-cancel {
      background: $blanco;
    }
  }
}
.modal-mensaje {
  font-size: 13px;
  line-height: 4;
}
