/*tipografia*/
$font: "Varela Round", sans-serif;
/*colores*/
$amarillo: #ffc107;
$azul: #435d7d;
$azultxt: #566787;
$blanco: #ffffff;
$celeste: #337ab7;
$gris: #f5f5f5;
$rojo: #f44336;
$verde: #5cb85c;
