/*tipografia*/
$font: "Varela Round", sans-serif;
/*colores*/
$amarillo: #ffc107;
$azul: #435d7d;
$azultxt: #566787;
$blanco: #ffffff;
$celeste: #337ab7;
$gris: #f5f5f5;
$rojo: #f44336;
$verde: #5cb85c;
$verdeborde: #4cae4c;
$modal-sombra: #00000080;
$modal-borde: #00000033;
$alerta: #8a6d3b;
$eliminar-bgk: #d9534f;
$eliminar-border: #d43f3a;
